<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aluno.marketcam">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- - - - - - - - - - - - - - - - - - - - - - - - - - -->
        <activity
            android:name=".primeiraActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- - - - - - - - - - - - - - - - - - - - - - - - - - -->
        <activity
            android:name=".segundaActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".primeiraActivity" />
        </activity>
        <!-- - - - - - - - - - - - - - - - - - - - - - - - - - -->
        <activity
            android:name=".terceiraActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".primeiraActivity" />
        </activity>
        <!-- - - - - - - - - - - - - - - - - - - - - - - - - - -->
        <activity
            android:name=".quartaActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".decimaTerceiraActivity" />
        </activity>
        <!-- - - - - - - - - - - - - - - - - - - - - - - - - - -->
        <activity
            android:name=".quintaActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".decimaTerceiraActivity" />
        </activity>
        <!-- - - - - - - - - - - - - - - - - - - - - - - - - - -->
        <activity
            android:name=".sextaActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".decimaTerceiraActivity" />
        </activity>
        <!-- - - - - - - - - - - - - - - - - - - - - - - - - - -->
        <activity android:name=".setimaActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".decimaTerceiraActivity" />
        </activity>
        <!-- - - - - - - - - - - - - - - - - - - - - - - - - - -->
        <activity android:name=".oitavaActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".decimaTerceiraActivity" />
        </activity>
        <!-- - - - - - - - - - - - - - - - - - - - - - - - - - -->
        <activity android:name=".nonaActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".decimaTerceiraActivity" />
        </activity>
        <!-- - - - - - - - - - - - - - - - - - - - - - - - - - -->
        <activity android:name=".decimaActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".decimaTerceiraActivity" />
        </activity>
        <!-- - - - - - - - - - - - - - - - - - - - - - - - - - -->
        <activity android:name=".decimaPrimeiraActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".decimaTerceiraActivity" />
        </activity>
        <!-- - - - - - - - - - - - - - - - - - - - - - - - - - -->
        <activity android:name=".decimaSegundaActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".decimaTerceiraActivity" />
        </activity>
        <!-- - - - - - - - - - - - - - - - - - - - - - - - - - -->
        <activity
            android:name=".decimaTerceiraActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <!-- - - - - - - - - - - - - - - - - - - - - - - - - - -->
        <activity android:name=".decimaQuartaActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".decimaTerceiraActivity" />
        </activity>
        <!-- - - - - - - - - - - - - - - - - - - - - - - - - - -->
        <activity android:name=".decimaQuintaActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".decimaTerceiraActivity" />
        </activity>
        <!-- - - - - - - - - - - - - - - - - - - - - - - - - - -->
    </application>

</manifest>